<%# @deal.template.deal_sections.map do |ds| %>
<!--  <div class="page_div">-->
<!--    <div class="w-full h-full relative">-->
<!--      <p>123</p>-->
<%#= render_section_preview ds, @deal %>
<!--    </div>-->
<!--  </div>-->
<%# end %>

<% @deal.template.deal_sections.map do |ds| %>
  <div class="page_div">
    <div class="w-full h-full relative">
      <%= render_section_preview ds, @deal %>
    </div>
  </div>
<% end %>