@import 'modal_backdrop.css';

@import 'tom-select/dist/css/tom-select.css';
@import 'tom-select.css';

@import 'trix/dist/trix.css';
@import 'actiontext.css';
@import 'custom_trix.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300
    }

    select {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="date"],
    input[type="datetime-local"] {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }

    input[type="submit"] {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    }

    input[type="color"] {
        -webkit-appearance: none;
        border: none;
        width: 32px;
        height: 32px;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: 100%;
    }

    input[type="color"]::-webkit-color-swatch {
        border: black solid;
        border-radius: 100%;
    }

    .field_with_errors label {
        @apply text-red-700 dark:text-red-500
    }

    .field_with_errors input {
        @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
    }

    .preview_before_add_section .editor--page-section-preview {
        @apply hidden
    }

    .preview_before_add_section .editor--page-section-preview #items_admin_editor_grid_section .editor--page-section-preview {
        @apply block
    }

    .media-alignment-center .editor--page-section-preview {
        @apply text-center
    }

    .media-alignment-left .editor--page-section-preview {
        @apply text-left
    }

    .bio-section,
    .text-section,
    .grid-section {
        @apply container container-sm mx-auto
    }

    form .section-title {
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #53595c;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.35;
    }
}

@layer components {
    .media-alignment-center {
        @apply flex flex-col items-center
    }

    .media-alignment-left {
        @apply flex flex-col items-start
    }
}