body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    width: 100%;
    height: 100%;
}

.page_div {
    display: inline-block;
    clear: both;
    border: 2px solid #FF0000;
    width: 100%;
    height: 371.3mm;
    page-break-after: auto;
}

.page-break {
    display: block;
    clear: both;
    page-break-before: always;
}

/* Fix wkhtmltopdf compatibility with BS flex features */
.flex {
    display: -webkit-box;
    display: flex;
}

.flex-col {
    display: -webkit-box;
    display: flex;
}

.justify-center {
    -webkit-box-pack: center;
    justify-content: center;
}

.justify-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.space-x-2 div {
    margin-right: 8px;
}

.space-x-2 div:last-child {
    margin-right: 0;
}