<%= form_with(model: customer, url: step_1_new_customer_admin_deal_path, method: :post) do |form| %>
  <p>123</p>
  <%= render partial:"admin/deals/customer_form", locals:{form:} %>

  <div class="flex justify-end p-6 space-x-4 rounded-b border-t dark:border-gray-600">
    <%= form.submit "Guardar" %>
  </div>
<% end %>