<%= form_with(model: product, url: step_1_new_product_admin_deal_path, method: :post) do |form| %>
  <%= form.hidden_field :product_id, value: product.id %>

  <%= render partial: "admin/deals/product_form", locals:{form:} %>

  <div class="flex justify-end p-6 space-x-4 rounded-b border-t dark:border-gray-600">
    <%= form.submit "Adicionar produto" %>
  </div>
<% end %>